/* **************************** All View Animations **************************** */

/* **************************** Banner **************************** */

body section#banner div.banner h2 {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s cubic-bezier(0.83, 0, 0.17, 1);
}

body section#banner div.banner p {
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease, transform 1s cubic-bezier(0.83, 0, 0.17, 1);
}

body section#banner div.banner::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    transition-delay: 1s;
}

body.loaded section#banner div.banner h2 {
    clip-path: inset(0 0 0 0);
}

body.loaded section#banner div.banner p {
    opacity: 1;
    transform: translateY(0);
}

body.loaded section#banner div.banner::before {
    opacity: 1;
    visibility: visible;
}
