/* **************************** Bulletin Styles **************************** */

/* **************************** Heading Styles **************************** */

section#bulletin {
    position: relative;
    margin: 12rem auto 6rem;
}

section#bulletin div.bulletin,
section#bulletin div.manual {
    margin: auto;
    padding: 4rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(50, 69, 107, 0.4);
}

div.bulletin img,
div.manual img {
    margin: 1rem auto;
    width: 15rem;
    height: auto;
}

div.bulletin h2,
div.manual h2 {
    position: relative;
    margin: 1rem auto;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: "Blanka";
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 3px;
}

div.bulletin h2::after,
div.manual h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    height: 0.6rem;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        var(--darkwhite),
        var(--primarylight),
        var(--darkwhite)
    );
}

div.bulletin h3,
div.manual h3 {
    margin: 2rem auto 6rem;
    font-size: 2.4rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: #f0134d;
    text-align: center;
    letter-spacing: 0.8px;
}

/* **************************** Body Content Styles **************************** */

/* ********************** Code of Conduct ********************** */

div.bulletin h4,
div.manual h4 {
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--primarydark);
    text-align: left;
    letter-spacing: 0.8px;
}

div.bulletin p,
div.manual p {
    margin: 1rem auto;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightblack);
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.8;
}

div.bulletin ul,
div.manual ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

div.bulletin ul li,
div.manual ul li {
    margin: 2rem auto;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightblack);
    background: rgba(62, 100, 255, 0.05);
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.6;
    border: none;
    border-radius: 0 10px 10px 0;
    border-left: 6px solid rgba(62, 100, 255, 0.8);
}

div.bulletin ul li a {
    margin: 0.5rem auto;
    font-weight: 600;
    color: var(--primarylight);
    text-decoration: none;
}

div.bulletin ul li a:hover {
    color: var(--primarydark);
    text-decoration: underline;
}

div.bulletin a.btn,
div.manual a.btn {
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--lightblack);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bulletin a.btn:hover,
div.manual a.btn:hover {
    background: var(--darkblack);
}

div.bulletin a.btn i,
div.manual a.btn i {
    margin: auto 0.2rem;
    font-size: 2.6rem;
    color: var(--darkwhite);
}

div.bulletin a.btn span,
div.manual a.btn span {
    margin: auto 0.2rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--codefont);
    color: var(--darkwhite);
    text-align: center;
    letter-spacing: 1px;
}

/* ********************* Mentor & Student Manual ********************* */

section#bulletin div.manual {
    align-items: flex-start;
}

div.manual .block_grp {
    margin: 2rem 0;
}

div.manual .block_grp h6 {
    margin: 1rem 0;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: #f90716;
    text-align: left;
    letter-spacing: 0.4px;
}

div.manual .block_grp ul li {
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    line-height: 1.7;
}

div.manual .block_grp ul li span,
div.manual .block_grp ul li b {
    display: inline-block;
    margin: auto;
    padding: 0 1rem;
    width: fit-content;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: var(--codefont);
    border-radius: 2rem;
}

div.manual .block_grp ul li b {
    padding: 0 0.8rem;
    font-weight: 600;
    color: var(--darkwhite);
    background: var(--primarydark);
    border-radius: 8px;
}

div.manual .block_grp ul li span:nth-child(1) {
    background: #40c463;
    color: var(--darkwhite);
}
div.manual .block_grp ul li span:nth-child(2) {
    background: #ffc501;
    color: var(--darkblack);
}
div.manual .block_grp ul li span:nth-child(3) {
    background: #f90716;
    color: var(--darkwhite);
}

div.manual .block_grp ul.blue li {
    background: rgba(62, 100, 255, 0.05);
    border-left: 6px solid rgba(62, 100, 255, 0.8);
}
div.manual .block_grp ul.yellow li {
    background: rgba(255, 227, 0, 0.05);
    border-left: 6px solid rgba(255, 227, 0, 0.8);
}
div.manual .block_grp ul.violet li {
    background: rgba(121, 0, 255, 0.05);
    border-left: 6px solid rgba(121, 0, 255, 0.8);
}

div.manual .sub_block_grp {
    margin: 2.5rem 0;
}

div.manual .sub_block_grp p {
    margin: 1.5rem 0;
    font-size: 2rem;
    line-height: 1.7;
}

div.manual .sub_block_grp p i {
    font-weight: 600;
    font-style: italic;
    color: var(--lightorange);
}

div.manual .sub_block_grp p a {
    font-weight: 600;
    color: var(--primarylight);
    text-decoration: none;
}

div.manual .sub_block_grp p a:hover {
    color: var(--primarydark);
}

/* **************************** Responsive **************************** */

@media (max-width: 1240px) {
    section#bulletin div.bulletin,
    section#bulletin div.manual {
        padding: 4rem 6rem;
    }
}

@media (max-width: 992px) {
    section#bulletin div.bulletin,
    section#bulletin div.manual {
        padding: 4rem;
    }
}

@media (max-width: 572px) {
    section#bulletin {
        padding: 1rem;
    }
    section#bulletin div.bulletin,
    section#bulletin div.manual {
        padding: 3rem;
        border-radius: 10px;
    }
    div.bulletin img,
    div.manual img {
        width: 12rem;
    }
    div.bulletin h3,
    div.manual h3 {
        margin: 2rem auto 4rem;
    }
    div.bulletin h4,
    div.manual h4 {
        font-size: 2.8rem;
    }
    div.bulletin p,
    div.manual p {
        font-size: 2rem;
        line-height: 1.6;
    }
}

/* **************************** Styles End **************************** */
