/* **************************** Main Page Styles **************************** */

/* **************************** Banner Section **************************** */

section#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/banner_bg.png) no-repeat 50% 50% / cover;
}

section#banner div#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#banner div.banner {
    padding: 4rem 6rem;
    width: 90%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border-radius: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

section#banner div.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 16px rgba(50, 69, 107, 0.2);
    z-index: -1;
}

section#banner div.banner object {
    margin: 2rem auto;
    width: 60%;
    height: auto;
}

section#banner div.banner h2 {
    margin: 1rem auto;
    font-size: 5rem;
    font-weight: 600;
    font-family: "Anurati";
    color: var(--primarydark);
    -webkit-text-stroke: 1px var(--primarydark);
    letter-spacing: 10px;
    text-align: center;
    line-height: 4.5rem;
}

section#banner div.banner p {
    margin: 2rem auto;
    padding: 1rem 20rem;
    font-size: 2.7rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 4rem;
}

section#banner div.banner p span {
    display: block;
    margin: 2rem auto 1rem;
    padding: 0 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--curlfont);
    color: var(--darkwhite);
    background: var(--primarylight);
    width: fit-content;
    border-radius: 20px;
}

section#banner div.banner .groups {
    margin: auto 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#banner div.banner .groups .grp {
    margin: auto 1rem;
    padding: 2rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darkwhite);
    border: 4px solid var(--primarylight);
    border-radius: 10px;
}

section#banner div.banner .groups .grp img {
    margin: auto 1rem;
    height: auto;
    border-radius: 50%;
}

section#banner div.banner .groups .grp:nth-child(1) img {
    width: 8rem;
}
section#banner div.banner .groups .grp:nth-child(2) img {
    width: 6rem;
}

section#banner div.banner .groups .grp span {
    margin: auto 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--darkblack);
    letter-spacing: 0.5px;
}

/* **************************** Responsive **************************** */

@media (max-width: 1240px) {
    section#banner div.banner h2 {
        font-size: 3rem;
    }
    section#banner div.banner p {
        padding: 1rem 10rem;
        font-size: 2.5rem;
    }
}

@media (max-width: 992px) {
    section#banner div.banner {
        padding: 4rem 2rem;
    }
    section#banner div.banner object {
        width: 80%;
    }
    section#banner div.banner h2 {
        font-size: 3rem;
    }
    section#banner div.banner p {
        padding: 1rem 2rem;
        font-size: 2.2rem;
        line-height: 3rem;
    }
}

/* **************************** Section Common Headings **************************** */
/* ========== About & Registration ========== */

section#about div.heading,
section#register div.heading {
    position: relative;
    margin: auto 8rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

section#about div.heading h1,
section#register div.heading h1 {
    padding: 0.5rem 1rem 1.5rem;
    width: fit-content;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Blanka";
    color: var(--lightblack);
    letter-spacing: 2px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 10px rgba(50, 69, 107, 0.2);
}

section#about div.heading span.pseudo,
section#register div.heading span.pseudo {
    position: absolute;
    top: -2rem;
    left: -2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background: var(--primarylight);
    z-index: -1;
}

section#about div.heading span.divider_1,
section#register div.heading span.divider_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    border-radius: 2px;
    background: var(--primarylight);
    z-index: -1;
}

section#about div.heading span.divider_2,
section#register div.heading span.divider_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100vh;
    border-radius: 2px;
    background: var(--primarylight);
    z-index: -1;
}

/* **************************** About Section **************************** */

section#about {
    position: relative;
    margin: 10rem auto;
}

section#about::before {
    content: "";
    position: absolute;
    top: 15%;
    right: 12%;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background: var(--primarylight);
    opacity: 0.8;
}

/* =============== About Description/Desc =============== */

section#about div.about {
    position: relative;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about div.about .fig {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section#about div.about .fig img {
    margin: auto;
    margin-top: 10rem;
    margin-left: 4rem;
    width: 50%;
    height: auto;
}

section#about div.about .desc {
    position: absolute;
    top: 15%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem;
    width: 60%;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 16px rgba(50, 69, 107, 0.2);
}

section#about div.about .desc h2 {
    position: relative;
    margin: 2rem 0;
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: left;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about div.about .desc h2 span {
    margin: auto;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    color: var(--darkwhite);
    background: var(--primarylight);
    border-radius: 10px;
    user-select: none;
}

section#about div.about .desc h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30%;
    height: 1rem;
    width: 80%;
    background: linear-gradient(45deg, var(--primarylight), var(--darkwhite));
    border-radius: 4px;
}

section#about div.about .desc p {
    margin: 2rem auto;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightblack);
    text-align: justify;
    letter-spacing: 0.5px;
}

section#about div.about .desc a.btn {
    margin: 1rem 0;
    padding: 1rem 2rem 0.8rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--curlfont);
    color: var(--darkwhite);
    background: linear-gradient(45deg, var(--primarylight), var(--primarydark));
    background-size: 200%;
    outline: none;
    border: none;
    text-align: justify;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

section#about div.about .desc a.btn:hover {
    background-position: bottom right;
}

/* =============== About Information/Info =============== */

section#about div.info {
    position: relative;
    margin: 15rem auto 5rem;
}

section#about div.info h3 {
    position: relative;
    margin: 2rem auto;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Blanka";
    color: var(--lightblack);
    letter-spacing: 6px;
    text-align: center;
}

section#about div.info h3 span {
    color: var(--primarylight);
}

section#about div.info .content {
    margin: 1rem auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about div.info img {
    margin: auto -6rem;
    width: 15rem;
    height: auto;
    opacity: 0.8;
    z-index: -1;
}

section#about div.info .info_card {
    margin: 2rem 4rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 16px rgba(50, 69, 107, 0.2);
}

section#about div.info .info_card i {
    margin: auto;
    font-size: 5rem;
    color: var(--lightblack);
}

section#about div.info .info_card h4 {
    margin: 1rem 0;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.2px;
}

section#about div.info .info_card a.btn {
    margin: 1rem 0;
    padding: 0.6rem 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--curlfont);
    color: var(--darkwhite);
    background: var(--primarylight);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

section#about div.info .info_card a.btn:hover {
    background: var(--primarydark);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* =============== About Organiser/Org =============== */

/* **************************** Responsive **************************** */

@media (max-width: 1240px) {
    section#about div.about .desc {
        right: 5%;
        width: 80%;
    }
    section#about div.info {
        margin: 20rem auto 5rem;
    }
}

@media (max-width: 992px) {
    section#about div.about {
        flex-direction: column;
    }
    section#about div.info {
        margin: 15rem auto 5rem;
    }
    section#about div.about .fig img {
        margin-top: auto;
        margin-left: auto;
    }
    section#about div.about .desc {
        margin: -5rem auto;
        right: 0;
        width: 95%;
        position: relative;
        transform: translate(0) !important;
    }
    section#about::before {
        display: none;
    }
}

@media (max-width: 768px) {
    section#about div.info .content {
        flex-direction: column;
    }
    section#about div.info img {
        margin: -8rem auto;
    }
    section#about div.info .info_card {
        width: 90%;
    }
}

@media (max-width: 472px) {
    section#about div.heading {
        margin: auto 2rem;
    }
    section#about div.about .desc {
        margin: -2rem auto;
        padding: 4rem 2rem;
    }
    section#about div.about .desc h2 span {
        width: min-content;
    }
    section#about div.info {
        margin: 10rem auto 5rem;
    }
}

/* **************************** Stats Section **************************** */

section#stats {
    position: relative;
    margin: 5rem auto;
}

section#stats div.stats {
    margin: 2rem auto;
    padding: 8rem 2rem;
    background: rgba(62, 100, 255, 0.9) url(/assets/img/pattern_bg.png) fixed
        no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section#stats div.stats .stats_card {
    margin: 2rem;
    padding: 2rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 16px rgba(50, 69, 107, 0.2);
    transition: all 0.4s ease;
}

section#stats div.stats .stats_card:hover {
    transform: translateY(-2rem);
}

section#stats div.stats .stats_card i {
    margin: 1rem auto auto;
    padding: 1.5rem;
    font-size: 4rem;
    color: var(--darkwhite);
    background: var(--primarylight);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

section#stats div.stats .stats_card h4 {
    margin: 1rem auto 0.5rem;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--darkblack);
    text-align: center;
    letter-spacing: 0.2px;
}

section#stats div.stats .stats_card p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#stats div.stats .stats_card p span {
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--darkblack);
}

section#stats div.stats .stats_card p i.fa {
    margin: 0.5rem;
    padding: 6px 7px;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: var(--darkwhite);
    background: var(--primarylight);
}

/* **************************** Responsive **************************** */

@media (max-width: 992px) {
    section#stats div.stats {
        padding: 6rem 2rem;
    }
    section#stats div.stats .stats_card i {
        padding: 1rem;
        font-size: 3.5rem;
    }
    section#stats div.stats .stats_card h4 {
        font-size: 2rem;
    }
    section#stats div.stats .stats_card p span {
        font-size: 3rem;
    }
    section#stats div.stats .stats_card p i.fa {
        padding: 6px;
        font-size: 1.8rem;
    }
}

@media (max-width: 552px) {
    section#stats div.stats {
        padding: 4rem 1rem;
    }
    section#stats div.stats .stats_card {
        margin: 2rem 1rem;
        padding: 1rem 6rem;
    }
    section#stats div.stats .stats_card i {
        font-size: 3rem;
    }
    section#stats div.stats .stats_card h4 {
        font-size: 1.8rem;
    }
    section#stats div.stats .stats_card p span {
        font-size: 2.5rem;
    }
    section#stats div.stats .stats_card p i.fa {
        padding: 6px;
        font-size: 1.8rem;
    }
}

@media (max-width: 402px) {
    section#stats div.stats .stats_card {
        padding: 1rem 4rem;
    }
}

/* **************************** Registration Section **************************** */

section#register {
    position: relative;
    margin: 10rem auto;
}

section#register div.heading h1 {
    font-size: 3rem;
}

section#register div.sub_head {
    position: relative;
    margin: 4rem auto;
}

section#register div.sub_head h2 {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.2px;
}

section#register div.details {
    margin: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#register div.details img {
    margin: auto -20rem;
    width: 30%;
    height: auto;
    z-index: -1;
}

section#register div.details .register_card {
    margin: 2rem;
    padding: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 14px rgba(50, 69, 107, 0.2);
}

section#register div.details .register_card img {
    margin: auto;
    width: 10rem;
    height: auto;
    z-index: 1;
}

section#register div.details .register_card h4 {
    position: relative;
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.2px;
}

section#register div.details .register_card h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30%;
    height: 0.6rem;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        var(--darkwhite),
        var(--primarylight),
        var(--darkwhite)
    );
}

section#register div.details .register_card p {
    margin: 1rem auto;
    padding: 0 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.5px;
}

section#register div.details .register_card a.btn {
    margin: 2rem auto 1rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--curlfont);
    color: var(--darkwhite);
    background: rgba(62, 100, 255, 1);
    letter-spacing: 0.5px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

section#register div.details .register_card a.btn:hover {
    background: rgba(62, 100, 255, 0.8);
}

/* **************************** Responsive **************************** */

@media (max-width: 1240px) {
    section#register div.details img.reg_img {
        margin: auto -15rem;
    }
    section#register div.details .register_card {
        padding: 4rem 2rem;
    }
    section#register div.details .register_card p {
        padding: 0 2rem;
    }
}

@media (max-width: 992px) {
    section#register div.details img.reg_img {
        margin: auto -10rem;
    }
    section#register div.details .register_card img {
        width: 8rem;
    }
}

@media (max-width: 768px) {
    section#register div.details {
        flex-direction: column;
    }
    section#register div.details img.reg_img {
        margin: -15rem auto -5rem;
        width: 50%;
    }
}

@media (max-width: 572px) {
    section#register div.heading {
        margin: auto 2rem;
    }
    section#register div.heading h1,
    section#register div.sub_head h2 {
        font-size: 2.5rem;
    }
    section#register div.details {
        margin: 2rem;
    }
    section#register div.details img.reg_img {
        display: none;
    }
    section#register div.details .register_card {
        transform: translate(0) !important;
    }
    section#register div.details .register_card img {
        width: 6rem;
    }
    section#register div.details .register_card h4 {
        font-size: 2.8rem;
    }
    section#register div.details .register_card p {
        padding: 0;
    }
    section#register div.details .register_card a.btn {
        font-size: 1.6rem;
        font-weight: 600;
    }
}
