/* **************************** Leader Board Styles **************************** */

section#leaderboard {
    position: relative;
    margin: 12rem auto 6rem;
}

/* **************************** Sub Head Section **************************** */

section#leaderboard div.sub_head {
    position: relative;
    margin: 2rem auto;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#leaderboard div.sub_head h2 {
    padding: 0.5rem 1rem 1.5rem;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: "Blanka";
    color: var(--lightblack);
    letter-spacing: 3px;
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(50, 69, 107, 0.2);
}

section#leaderboard div.sub_head p {
    margin: 1rem auto;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.5px;
}

/* **************************** Banner Section **************************** */

div.leaderboard {
    position: relative;
    margin: 2rem auto;
    padding: 2rem;
}

/* ==================== Search Bar ==================== */

div.leaderboard form.searchUser {
    position: relative;
    margin: 10rem auto 4rem;
}

div.leaderboard form.searchUser input {
    margin: auto;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightgrey);
    background: var(--darkwhite);
    border: 3px solid var(--darkgrey);
    letter-spacing: 1px;
    border-radius: 6px;
    box-shadow: none;
    transition: all 0.15s linear;
}

div.leaderboard form.searchUser input:focus,
div.leaderboard form.searchUser input:not(:placeholder-shown) {
    color: var(--lightblack);
}

/* ==================== Winners Table ==================== */

div.leaderboard .winners {
    margin: 4rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

div.leaderboard .winners .position_card {
    position: relative;
    margin: auto;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--darkwhite);
    box-shadow: 0 0 4px rgba(50, 69, 107, 0.2);
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

div.leaderboard .winners .position_card .stats {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
    background: var(--primarylight);
}

div.leaderboard .winners .position_card .stats h2 {
    margin: 1rem auto 0;
    font-size: 3.6rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--darkwhite);
    letter-spacing: 0.8px;
    text-align: center;
}

div.leaderboard .winners .position_card .stats p {
    margin: -0.2rem auto 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--darkwhite);
    letter-spacing: 0.8px;
    text-align: center;
}

div.leaderboard .winners .position_card .stats span {
    margin: -0.5rem auto 1rem;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    background: var(--darkwhite);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.2px;
}

div.leaderboard .winners .position_card .desc {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.leaderboard .winners .position_card .desc img {
    margin: auto;
    width: 8rem;
    height: auto;
    border-radius: 50%;
}

div.leaderboard .winners .position_card .desc h1 {
    margin: 1rem auto 0.5rem;
    font-size: 2.8rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--darkblack);
    letter-spacing: 0.2px;
    text-align: center;
}

div.leaderboard .winners .position_card .desc a {
    margin: 0.5rem auto;
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--darkblack);
    background: var(--primaryoff);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2px;
}

div.leaderboard .winners .position_card .desc p {
    margin: 0.5rem auto;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: var(--mainfont);
    font-style: italic;
    color: var(--lightblack);
    letter-spacing: 0.2px;
    text-align: center;
}

/* ==================== Rank Table ==================== */

div.leaderboard .rank_table {
    position: relative;
    margin: 4rem auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(50, 69, 107, 0.2);
    overflow: hidden;
}

div.leaderboard thead {
    background: var(--lightblack);
}

div.leaderboard tbody tr {
    border-top: 1.5px solid rgb(50, 69, 107, 0.2);
    border-bottom: 1.5px solid rgb(50, 69, 107, 0.2);
}
div.leaderboard tbody tr:nth-child(odd) {
    background: var(--darkwhite);
}
div.leaderboard tbody tr:nth-child(even) {
    background: var(--lightwhite);
}

div.leaderboard thead th:nth-child(1),
div.leaderboard tbody td:nth-child(1) {
    width: 5rem;
}
div.leaderboard thead th:nth-child(2),
div.leaderboard tbody td:nth-child(2) {
    width: 15rem;
    text-align: left !important;
}
div.leaderboard thead th:nth-child(3),
div.leaderboard tbody td:nth-child(3) {
    width: 5rem;
}
div.leaderboard thead th:nth-child(4),
div.leaderboard tbody td:nth-child(4) {
    width: 5rem;
}

div.leaderboard thead th {
    padding: 1.5rem 1rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--darkwhite);
    text-align: center;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

div.leaderboard tbody td {
    padding: 1.5rem 1rem;
    font-size: 1.9rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

div.leaderboard tbody td img {
    margin: auto 1rem;
    width: 2.5rem;
    height: auto;
    border: 1px solid var(--darkgrey);
    border-radius: 50% !important;
}

div.leaderboard tbody td a {
    margin: 1rem auto;
    padding: 0.4rem 0.8rem;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--darkblack);
    background: var(--primaryoff);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2px;
}

/* **************************** Responsive **************************** */

@media (max-width: 992px) {
    div.leaderboard .winners {
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 572px) {
    div.leaderboard thead th,
    div.leaderboard tbody td,
    div.leaderboard tbody td a {
        font-size: 1.8rem;
    }
}

@media (max-width: 472px) {
    div.leaderboard form.searchUser {
        margin: 4rem auto;
    }
    div.leaderboard tbody td img {
        display: none;
    }

    div.leaderboard thead th:nth-child(3),
    div.leaderboard tbody td:nth-child(3) {
        display: none;
    }
}

/* **************************** Styles End **************************** */
