/* **************************** Projects Container Styles **************************** */

section#projects_container {
    position: relative;
    margin: 12rem auto 6rem;
}

:root {
    --variantCyan: #0cecdd;
    --variantYellow: #fff01f;
}

/* **************************** Sub Head Section **************************** */

section#projects_container div.sub_head {
    position: relative;
    margin: 2rem auto;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#projects_container div.sub_head h2 {
    padding: 0.5rem 1rem 1.5rem;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: "Blanka";
    color: var(--lightblack);
    letter-spacing: 3px;
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(50, 69, 107, 0.2);
}

section#projects_container div.sub_head p {
    margin: 1rem auto;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.5px;
}

/* **************************** Search Bar | Project Tech **************************** */

section#projects_container form.searchTech {
    position: relative;
    margin: 4rem;
}

section#projects_container form.searchTech input {
    margin: auto;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightgrey);
    background: var(--darkwhite);
    border: 3px solid var(--darkgrey);
    letter-spacing: 1px;
    border-radius: 6px;
    box-shadow: none;
    transition: all 0.15s linear;
}

section#projects_container form.searchTech input:focus,
section#projects_container form.searchTech input:not(:placeholder-shown) {
    color: var(--lightblack);
    border: 3px solid var(--lightblack);
}

/* **************************** Projects Content Section **************************** */

section#projects_container div.projects_content {
    position: relative;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    place-content: center;
    gap: 2rem;
}

/* **************************** Projects Card **************************** */

div.project_card {
    position: relative;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(50, 69, 107, 0.2);
    border-radius: 10px;
}

div.project_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--variantYellow);
    transform: rotate(3deg);
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s ease;
}

div.project_card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--variantCyan);
    transform: rotate(-3deg);
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s ease;
}

div.project_card:hover:before {
    transform: rotate(-3deg);
}
div.project_card:hover:after {
    transform: rotate(3deg);
}

/* =========================== Project Project Toggle Btn =========================== */

div.project_card div#toggleBtn {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 8rem;
    height: 7rem;
    font-size: 3rem;
    color: var(--darkwhite);
    background: var(--primarylight);
    clip-path: circle(50% at 50% 100%);
    z-index: 1;
    cursor: pointer;
}

div.project_card div#toggleBtn i.bx {
    transform: rotateX(0deg);
    transition: all 0.2s linear;
}

div.project_card div#toggleBtn.active i.bx {
    transform: rotateX(180deg);
}

/* =========================== Project Project Details =========================== */

div.project_card .project_desc {
    margin: auto;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

/* ============== Project Name ============== */

div.project_card .project_desc h2 {
    position: relative;
    margin: 1rem auto;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.6px;
}

div.project_card .project_desc h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        var(--darkwhite),
        var(--primarylight),
        var(--darkwhite)
    );
}

/* ============== Project Tech Stacks ============== */

div.project_card .project_desc h6 {
    margin: 1rem auto 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: -0.2px;
}

div.project_card .project_desc .tags {
    margin: auto auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.project_card .project_desc .tags span {
    margin: 0.5rem;
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--curlfont);
    color: var(--darkblack);
    background: rgba(255, 141, 1, 0.3);
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

/* ============== Project Description ============== */

div.project_card .project_desc p {
    margin: 1rem auto;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 0.5px;
}

div.project_card .project_desc p.clampText {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.project_card .project_desc span {
    margin: -1rem auto auto;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--curlfont);
    color: #ff1700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    cursor: pointer;
}

/* ============== Project Link ============== */

div.project_card .project_desc a.btn {
    margin: 1rem auto 2rem;
    padding: 0.6rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--darkwhite);
    background: var(--primarylight);
    text-align: center;
    letter-spacing: 0.5px;
    border-radius: 8px;
    transition: all 0.2s linear;
}

div.project_card .project_desc a.btn:hover {
    background: var(--primarydark);
}

/* =========================== Project Mentor Details =========================== */

div.project_card .mentor_desc {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: rgba(62, 100, 255, 1);
    border-radius: 10px;
    clip-path: circle(10% at 50% 100%);
    transition: all 0.6s ease-in-out;
}

div.project_card div#toggleBtn.active + div.mentor_desc {
    clip-path: circle(150% at 50% 100%);
}

/* ============== Mentor Head ============== */

div.project_card .mentor_desc h4 {
    margin: 1rem auto 0;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--lightwhite);
    text-align: center;
    letter-spacing: 0.4px;
}

/* ============== Mentor Name ============== */

div.project_card .mentor_desc h2 {
    position: relative;
    margin: 1rem auto 1.5rem;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--darkwhite);
    text-align: center;
    letter-spacing: 0.6px;
}

div.project_card .mentor_desc h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background: var(--darkwhite);
}

/* ============== Mentor Mail ============== */

div.project_card .mentor_desc a.btn {
    margin: 1rem auto;
    padding: 0.6rem 1.2rem;
    padding-right: 0.9rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--codefont);
    color: var(--lightwhite);
    background: var(--primarylight);
    border: 3.5px solid var(--darkwhite);
    text-align: center;
    letter-spacing: 1px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgb(50, 69, 107, 0.2);
}

/* ============== Mentor Social Handles ============== */

div.project_card .mentor_desc .social {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.project_card .mentor_desc .social a.btn {
    margin: 0 1rem;
    padding: 0.7rem;
    font-size: 2.3rem;
    color: var(--lightblack);
    background: var(--darkwhite);
    border-radius: 6px;
    box-shadow: 0 0 4px rgb(50, 69, 107, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
}

div.project_card .mentor_desc .social a.btn i {
    transition: transform 0.8s ease;
}

div.project_card .mentor_desc .social a.btn:hover i {
    transform: rotateY(1turn);
}

/* **************************** Responsive **************************** */

@media (max-width: 992px) {
    section#projects_container div.projects_content {
        grid-template-columns: repeat(2, 1fr);
    }

    div.project_card .project_desc h2,
    div.project_card .mentor_desc h2 {
        font-size: 2.8rem;
    }
}

@media (max-width: 572px) {
    section#projects_container div.projects_content {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* **************************** Styles End **************************** */
